/* Css Reset */
*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-image: url(../images/bg.jpg);
  background-size: 70%;
  width: 100%;
}

/* Title, date, image-description */
.media-details-flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
  margin: 0.1rem;
  color: #fffffff4;
  opacity: 95%;
}

.date {
  margin: 1em;
}

.credits-wrapper {
  margin: 0.5em;
}

/* Responsive Images and Videos from API response */
.media-section {
  display: flex;
  justify-content: center;
}

.image-div {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #fffffff4;
  height: 70vh;
  width: auto;
}
