.body-container {
  height: fit-content;
  padding-top: 1rem;
}

/* Body-header containing Image Title, Date, Author-credits */
.media-details-flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 0rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  color: #f5f0f0f4;
  font-size: 0.9em;
}

.media-title {
  margin-top: 0.4em;
}

.media-date {
  margin: 1em;
}

.credits-wrapper {
  margin: 0.5em;
}

/* Body Starts here! */
.horizontal-body-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
}

/* Media Description  */
.description-wrapper {
  display: flex;
  align-items: center;
  width: 45vw;
  margin-right: 6%;
  margin-left: 1rem;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.1rem;
  line-height: 1.5rem;
  border: 1px solid #f5f0f0f4;
  border-radius: 0.5rem;
  background-color: rgb(15, 15, 15);
  color: #bebabaf4;
  font-size: 1em;
  max-height: 70vh;
}

/* Image and Video */
.media-section-wrapper {
  display: flex;
  align-items: center;
  padding-left: 8%;
  height: auto;
  padding-right: 1em;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid #fffffff4;
  max-height: 20em;
  max-width: 30em;
}

.image-of-the-day {
  height: auto;
  width: 100%;
}

.video-of-the-day {
  height: 20rem;
  width: 30rem;
}

/*
  Media Queries Below
*/
@media (max-width: 1000px) {
  .horizontal-body-flex-container {
    display: flex;
    flex-direction: column;
  }

  /* Responsive Images and Videos from API response below */
  .media-section-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid #fffffff4;
    height: 40vh;
  }

  .description-wrapper {
    display: flex;
    justify-content: center;
    width: 65vw;
    padding: 0;
    margin: 0;
  }

  .description {
    text-align: center;
    padding: 1rem;
    line-height: 1.9rem;
    border: 1px solid #f5f0f0f4;
    border-radius: 0.5rem;
    background-color: rgb(15, 15, 15);
    color: #dcd9d9f4;
    font-size: 1em;
  }
}
