/* Css Reset */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1px;
    align-items: center;
    padding-top: 1rem;
}

.inputs-for-header {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 0.5rem;
}

/* Input styling & animation */
.random-picture-button,
.reset-picture-button {
    position: relative;
    background-color: #252525;
    border-radius: 3em;
    font-size: 11px;
    color: white;
    padding: 0.6em 0.5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.reset-picture-button {
    padding: 0.6em 1em;
}

.random-picture-button:hover,
.reset-picture-button:hover {
    transition-duration: 0.1s;
    background-color: #3a3a3a;
}

.random-picture-button:after,
.reset-picture-button:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.random-picture-button:active:after,
.reset-picture-button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.random-picture-button:active,
.reset-picture-button:active {
    top: 1px;
}
