.blackout-background-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(15, 15, 15);
  border: 1px solid #f6f0f0f4;
  padding: 2rem;
  z-index: 1000;
}

.modal-exit-button {
  cursor: pointer;
}

.modal-description {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.1rem;
  line-height: 1.5rem;
  border: 1px solid #f5f0f0f4;
  border-radius: 0.5rem;
  background-color: rgb(15, 15, 15);
  color: #bebabaf4;
  font-size: 1em;
  max-height: 70vh;
}
